/*style.css*/
*{
	padding: 0;
	margin: 0;

}

#menuNav{
	background-color: white;
	color: black;
	border-color: silver;
	border-width: 5px;
	position: relative;

}

#body{
	background-color: green;
	color: white;
	border-color: silver;
	border-width: 5px;
	position: relative;
}